{% extends 'layout/default' %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/public/img/hcsocial_white.png" alt="#HCSocial">#HCSocial</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if view and view == 'home' %}class="active"{% endif %}><a href="/"><span
                                    class="glyphicon glyphicon-home"></span> Fil d'actualité<img
                                    src="/public/img/loading.gif" alt="Chargement..." id="loading"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/show/{{ auth.username }}"><img width="30" src="{{ auth.options.mail }}"
                                                                       class="img-circle gravatar"> {{ auth.options.firstname }} {{ auth.options.lastname }}
                        </a></li>
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
    {{ helpers.assets.js('home') }}
{% endblock %}