<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/public/img/hcsocial.png"/>
    <!--[if IE]>
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/hcsocial.ico"/>
    <![endif]-->
    <title>#HCSocial</title>

    {{ helpers.assets.js('jquery-2.1.3.min') }}
    {{ helpers.assets.js('jquery.mobile-1.4.5.min') }}
    {{ helpers.assets.js('cryptojs.md5') }}

    {{ helpers.assets.css('jquery.mobile-1.4.5.min') }}
    {{ helpers.assets.css('mobile') }}
</head>

<body>

<div data-role="page">
    <div data-role="header">
        {% block header %}
        {% endblock %}
    </div>

    <div role="main" class="ui-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

{{ helpers.assets.js('mobile/mobile') }}
{{ helpers.assets.js('mobile/mobile.tools') }}
{{ helpers.assets.js('mobile/mobile.forms') }}
{{ helpers.assets.js('mobile/mobile.news') }}
{{ helpers.assets.js('mobile/mobile.news.comments') }}

{% block js %}
{% endblock %}

</body>
</html>